[submodule "font-awesome-pro"]
	path = .submodules/font-awesome-pro
	url = git@github.com:fortawesome/font-awesome-pro.git
    ignore = dirty
[submodule "vim-plug"]
	path = .submodules/vim-plug
	url = https://github.com/junegunn/vim-plug.git
    ignore = dirty
