[submodule "deps/rofi-spotlight"]
	path = deps/rofi-spotlight
	url = https://github.com/manilarome/rofi-spotlight
	ignore = dirty
[submodule "font-awesome-pro"]
	path = deps/font-awesome-pro
	url = git@github.com:fortawesome/font-awesome-pro.git
[submodule "waybar"]
	path = deps/waybar
	url = https://github.com/alexays/waybar.git
[submodule "sway"]
	path = deps/sway
	url = https://github.com/swaywm/sway.git
[submodule "redshift"]
	path = deps/redshift-wayland
	url = https://github.com/minus7/redshift.git
