#window {
    background: none;
}

#outer-box {
    padding: 12px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.70);
}

#input {
    padding: 8px 16px;
    font-size: 24px;
    color: rgb(200, 200, 200);
    border-color: rgba(40, 40, 40, 0.8);
    background-color: rgba(60, 60, 60, 0.7);
}

#input:focus {
    border-color: rgba(40, 60, 120, 0.8);
}

#inner-box {
    border-radius: 4px;
    margin-top: 8px;
    padding: 4px;
    background-color: rgba(75, 75, 75, 0.7);
}

#inner-box>* {
    padding: 8px;
}

#inner-box>*:selected {
    background: rgba(40, 91, 120, 0.8);
    color: rgba(240, 240, 240);
    border: none;
    border-radius: 4px;
    outline: none;
}

#text {
    color: rgb(170, 170, 170);
}

#inner-box>*:selected #text {
    color: rgb(170, 170, 170);
}
